---

---

<!-- 
Workflow para el usuario:

1. subir una imagen del plano.
2. Darle a un botón que le permita seleccionar un punto del plano.
3. Al darle la botón aceptar, creará un QR que carga la web con una imagen del plano modificada para que aparezca el puntero en el lugar indicado
4. En el futuro, se puede dar la opción de añadir una ubicación en Google Maps.
-->

<div>

</div>